body{
    background: #000;
}

.window-opacity{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.541);
}
.loading{
    width: 250px;
    height: 250px;
    backdrop-filter: blur(10px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    letter-spacing: 3px;
}
.loading::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    border-radius:50%;
    animation: loading 2s linear infinite;
}
@keyframes loading {
    0%{
        transform: rotate(0deg);
        box-shadow: 1px 5px 2px #fff;
    }
    50%{
        transform: rotate(180deg);
        box-shadow: 1px 5px 2px #fff;
    }
    100%{
        transform: rotate(360deg);
        box-shadow: 1px 5px 2px #fff;
    }
}
